* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-height: 100vh;
	font-weight: normal;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding: 0;
}

.space {
	background: url("../images/grid.png") -1px -1px;
	width: 595px;
	height: 595px;
}

.space__playerField {
	position: absolute;
	background: url(../images/bg_play_field.png);
	width: 363px;
	height: 363px;
	left: 103px;
	top: 38px;
}

.space__seaField {
	position: absolute;
	width: 330px;
	height: 330px;
	left: 29px;
	top: 27px;
	overflow: hidden;
}

.boat {
	position: absolute;
	width: 33px;
	height: 33px;
}

.boat__win {
	background: url("../images/sprite.png") -409px -50px no-repeat;
}

.boat__fall {
	background: url("../images/sprite.png") -409px -99px no-repeat;
}

.popup {
	position: absolute;
	width: 330px;
	height: 330px;
	left: 29px;
	top: 27px;
	font-size: 0;
	display: none;
	text-align: center;
}

.popup.active {
	display: block;
}

.popup:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.popup__content {
	font-family: "Comic Sans MS", sans-serif;
	font-weight: bold;
	color: #4530af;
	font-size: 30px;
	padding: 12px 10px 10px;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: 3px solid;
}

.popup__text {
	padding-bottom: 15px;
}

.popup__btn {
	border: 2px solid;
	color: inherit;
	background: #fff;
	font-size: 23px;
	padding: 4px 13px;
	border-color: #4530af;
	font-family: inherit;
}

.popup__btn:hover {
	background: #4530af;
	color: #fff;
	cursor: pointer;
}

