doctype !

html(lang="ru")
    head
        title Sea Battle
        meta( charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" href="css/MainCss.css")
    body
        .parent.boat
        .space
            .space__playerField
                .space__seaField
                .popup
                    .popup__content
                        .popup__text YOU WIN!!!
                        .popup__score score: 
                            span 0
                        button.popup__btn Restart

        footer

    script(rel="script" src="script/jquery-1.11.1.min.js")
    script(rel="script" src="script/polyfill.js")
    script(rel="script" src="script/mainJS.js")

